
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Login">
    <test name="Functional Tests" preserve-order="true">
        <classes>
            <class name="ScryAIGroundX.com.qa.runner.LoginRunner"/>
        </classes>
    </test>
</suite>